/*Sve with name ending in .css*/
body{
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position:center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color: #2F2F31;
	}

iframe.pdf {
		height:500;
		width:500;
		scrolling:no;
	}
